.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the container */
    max-width: 90%; /* Limit the width */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full height */
    margin: 0;
    background-color: #f0f0f0; /* Light background color */
}

.fullscreen-button {
    margin-top: 20px; /* Space between the swiper and button */
}
